h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 150px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    color: lightgrey;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    color: lightgrey;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
}